.flex-container {
  display: flex;
  width: 400px;
  height: 400px;
  align-items: center;
  background-color: rgb(73, 71, 71);
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.img1 {
  width: 30px;
  height: 20px;
}

.value {
  width: 300px;
  height: 20px;
}

td {
  text-align: center;
  color: white;
  height: 50px;
}

td:hover {
  background-color: deepskyblue;
}

.td1 {
  padding: 2px;
}

.td1:hover {
  text-decoration: none;
}

.td2:hover {
  background-color: red;
}

.AC {
  background-color: rgb(87, 8, 8);
}

.item1 {
  background-color: rgb(41, 39, 39);
}

.eval1 {
  background-color: rgb(12, 12, 56);
}
