* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

header,
footer {
  color: #fff;
  background-color: gray;
  height: 110px;
  padding: 40px 20px;
}
aside {
  float: left;
}

section {
  padding: 40px;
}

aside ul li {
  width: 180px;
  height: 40px;
  color: #fff;
  background-color: deepskyblue;
  padding: 15px 10px;
  margin: 10px 35px 10px 10px;
}

footer {
  clear: left;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  aside ul li {
    width: 120px;
    padding: 10px 5px;
    margin: 10px 35px 10px 10px;
  }
  aside {
    padding-top: 50px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
}
@media screen and (min-width: 1441px) {
}
