.btnStyle {
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
}

.borderless {
  border: none;
}

.input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
}
