.box1 {
  color: red;
  width: 280px;
  height: 80px;
  /* margin-top: 20px;
  margin-right: 30px;
  margin-bottom: 50px;
  margin-left: 40px; */
  margin: 20px 30px 50px 40px;
  border: 5px dotted red;
  padding: 100px 30px;
  background-image: url("4db06b5ef763d1d030a7baef6c6899ff4f4ab10f_hq.gif");
  background-size: 460px;
}
