body {
  font-family: sans-serif;
}

.grid-container {
  display: grid;
  row-gap: 10px;
  height: 1800px;
  column-gap: 5px;
  background-color: #f1e9e9;
  border-radius: 10px;
  grid-template-areas:
    "header header header header"
    "navigation navigation navigation navigation"
    "navigation navigation navigation navigation"
    "sidebar main main aside"
    "sidebar main main aside"
    "footer footer footer footer";
}

.grid-container li {
  background-color: rgba(255, 255, 255, 0.956);
  border: 2px solid rgb(243, 77, 65);
  list-style: none;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: sidebar;
}
.item3 {
  grid-area: navigation;
}
.item4 {
  grid-area: main;
}
.item5 {
  grid-area: aside;
}
.item6 {
  grid-area: footer;
}
