.box1,
.box2,
.box3 {
  width: 20px;
  height: 20px;
  top: 50px;
  background-color: rgb(20, 18, 18);
  position: absolute;
  transform: scaleY(2);
  animation: box-mover infinite linear reverse;
}

.box1 {
  animation-duration: 0.33s;
  animation-delay: 0.11s;
}

.box2 {
  animation-duration: 0.33s;
  animation-delay: 0.22s;
  margin-left: 30px;
}

.box3 {
  animation-duration: 0.33s;
  animation-delay: 0.33s;
  margin-left: 60px;
}

@keyframes box-mover {
  0% {
    background-color: rgb(20, 18, 18);
    height: 20px;
  }

  100% {
    background-color: rgb(20, 18, 18);
    height: 40px;
  }
}
