div {
  background-color: aqua;
}
.descendant p {
  background-color: yellow;
}

.child > p {
  background-color: red;
}

.adjacent div + p {
  background-color: blue;
}

.general div ~ p {
  background-color: orange;
}
.combined li.selected {
  background-color: red;
}
.combined input[type="text"] {
  background-color: blueviolet;
}
